@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Stencil", sans-serif;
}
body{
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* Header */
header{
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    position: sticky;
    top: 0;
}
/* Nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    color: #38bdf8;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

/* Hover underline animation */
nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #38bdf8;
    transition: 0.3s;
}

nav a:hover::after{
    width: 100%;
}
/* Main */
main{
    padding: 40px;
}

/* welcome Section */
.welcome{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.welcome h2{
    font-size: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.welcome p{
    font-size: 25px;
    color: #cbd5f5;
    margin-bottom: 20px;
    text-align: center;
}

/* Button */
.btn{
    background: #38bdf8;
    padding: 12px 25px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover{
    background: white;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    overflow: hidden;
}

th{
    background: #38bdf8;
    color: black;
}

th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #2d3e5a;;
}

tr:nth-child(even){
    background: rgba(255,255,255,0.05);
}

tr:hover{
    background: rgba(56,189,248,0.2);
}

form{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
}

input{
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button{
    margin-top: 10px;
    padding: 12px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

button:hover{
    background: white;
}
.view{
    color: white;
   background: #38bdf8;
   border-radius: 5px;
   text-decoration: none;
}
footer{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background: rgba(0,0,0,0.3);
}
@media (min-width: 768px){

    form{
        width: 100%;
    }
}
